In [2]:
#código python para generar un archivo csv con datos de ventas ficticios.

import csv
import random
import datetime

# Generar datos de ventas ficticios
productos = ['Producto 1', 'Producto 2', 'Producto 3']
paises = ['País 1', 'País 2', 'País 3']
ventas = []
for i in range(1000):
	venta = {}
	venta['Fecha'] = datetime.date(2022, random.randint(1, 12), random.randint(1, 28))
	venta['Producto'] = random.choice(productos)
	venta['País'] = random.choice(paises)
	venta['Ventas'] = random.randint(100, 10000)
	ventas.append(venta)

# Escribir los datos en un archivo CSV
with open('datos_ventas.csv', mode='w', newline='') as archivo_csv:
	nombres_columnas = ['Fecha', 'Producto', 'País', 'Ventas']
	escritor_csv = csv.DictWriter(archivo_csv, fieldnames=nombres_columnas)
	escritor_csv.writeheader()
	for venta in ventas:
    		escritor_csv.writerow(venta)

In [45]:
import pandas as pd 

class DatosVentas:
    def __init__(self, ruta):
        self.data = pd.read_csv(ruta)

    #mes, anio
    def procesar_datos(self):
        #hacemos el cambio de datos de cadena a fecha 
        self.data['Fecha']=pd.to_datetime(self.data['Fecha'])
        #seleccionamos el mes con (datetime)= dt y el mes
        mes= self.data['Fecha'].dt.month
        anio= self.data['Fecha'].dt.year

        # crear columnas y añadir los valores
        self.data= pd.DataFrame(
            {'Mes': mes, 'Anio': anio}
        )
        return self.data
        
        

b= DatosVentas('/home/usuario/Escritorio/Programacion/Inicio_Librerias_en_Python/datos_ventas.csv')
#
b.procesar_datos()

     Mes  Anio
0      2  2022
1      2  2022
2      9  2022
3      3  2022
4      7  2022
..   ...   ...
995   12  2022
996    9  2022
997    9  2022
998   10  2022
999    9  2022

[1000 rows x 2 columns]

In [ ]:
import pandas as pd
data = [
    ['Ali',
     'Azmat',
     '30'],
    ['Sharukh',
     'Khan',
     '40'],
    ['Linus',
     'Torvalds',
     '70']
]
df = pd.DataFrame(data,columns=['First','Last','Age'])
print(df)